nav {
  //position y bootom son para que se mantenga siempre en el top de la pag,un control de posicion.
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  background: linear-gradient(to right, black, var(--color-navbar));
  background-color: black;
  border-bottom: solid 0.5vh var(--color-border);
  box-shadow: 0px 0px 7px 12px rgb(0, 0, 1);
  @media screen and (max-width: 530px) {
    justify-content: space-evenly;
  }

  h1 {
    transform: scale(1.4);
    padding-left: 2.5rem;
    margin: 0%;
    transition: 0.5s;
    @media screen and (max-width: 400px) {
      padding-left: 0%;
    }
    @media screen and (max-width: 550px) {
      transform: scale(1);
    }
    &:hover {
      transform: translateY(0.27rem) scale(1.7);
      transition: 0.8s;
    }
  }

  ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 530px) {
      justify-content: center;
    }
    li {
      margin: 0.5rem;
      transition: 0.5s;

      &:hover {
        transform: translateY(
          0.4rem
        ); //uso transform para que el elemento se mueva sin que rompa el background del nav.

        box-shadow: 0px 0px 60px 22px rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.75);
        transition: 0.2s;
      }
      button {
        background: none;
        border: none;
        cursor: pointer;
        text-shadow: 4px 4px 3px rgb(0, 0, 0);
        font-size: medium;
      }
    }
  }
}
