.tituloPrincipal {
  text-align: center;
  align-content: center;
  padding: 0.5vh;
  border: solid 0.5vh var(--color-border);
  background: linear-gradient(to right, black, var(--color-background-section));
}

/* contenedor cards de roms y emuladores */
.div-nav_container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 0.5vh var(--color-border);
  height: 86vh;
  ///respuesta a la navBar
  @media screen and (max-width: 540px) {
    height: 84.5vh;
  }
  @media screen and (max-width: 390px) {
    height: 82.5vh;
  }
  // respuesta al alto del contenedor principal (el que tiene el scroll)
  @media screen and (max-height: 780px) {
    height: 74vh;
  }

  // navBar roms y emuladores!
  .nav-itemListContainer {
    position: sticky;
    width: 100%;
    padding-left: 1.2vh;
    align-items: center;
    justify-content: left;
    // cancelo los stilos que no quiero de la etiqueta <nav> del componente roms (los etilos de la etiqueta estan declarados en nabBar.jsx).
    box-shadow: none;
    border-bottom: none;

    h6 {
      margin-left: 1vh;
    }
    ul {
      margin: 0%;
    }
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(
      to right,
      black 0%,
      var(--color-background-section) 50%,
      transparent 100%
    );
    border-top: solid 0.5vh var(--color-border);
    overflow-y: auto;
    /*     para q no se rompa la el hover de las card en los smartphones */
    overflow-x: hidden;
    //control de error para cuando esta cargando la app. (es el alto del contenedor card sin las cards)
    height: 86vh;
  }
}

/* contenedor de home, rom detail , trucos y home */
.div-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 3px var(--color-border);
  overflow-y: auto;
  background: linear-gradient(
    to right,
    black 0%,
    var(--color-background-section) 50%,
    transparent 100%
  );
  height: 86vh; // este determina el alto del contenedor de home, rom detail , trucos y home

  ///respuesta a la navBar
  @media screen and (max-width: 540px) {
    height: 84.5vh;
  }
  @media screen and (max-width: 390px) {
    height: 83vh;
  }
  // respuesta al alto del contenedor principal (el que tiene el scroll)
  @media screen and (max-height: 780px) {
    height: 74vh;
  }

  .banner-home {
    background-color: black;
    width: 100%;
    height: 35vh;
    border-bottom: solid 2px var(--color-border);
    @media screen and (max-width: 900px) {
      height: 25vh;
    }
    @media screen and (max-width: 650px) {
      height: 15vh;
    }
    .banner {
      background-image: url("../../assets/img_banner-home/8bits-banner.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      border: solid 3px rgba(236, 171, 20, 0.3);
      box-shadow: 0 0 20px 1px transparent;
      transition: border-color 1s ease-in-out;

      &:hover {
        animation: pulso 0.7s infinite alternate;
      }
    }

    @keyframes pulso {
      from {
        border-color: rgba(255, 230, 1, 0.164);
        box-shadow: 0 0 20px 1px rgba(255, 230, 1, 0.165);
      }
      to {
        border-color: var(--color-fuente);
        box-shadow: 0 0 20px 1px var(--color-fuente);
      }
    }
  }
}
h5 {
  margin: 2vh;
}
