nav {
  position: sticky; //position y top son para que se mantenga siempre en el top de la pag,un control de posicion.
  top: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  background: linear-gradient(to right, black, var(--color-navbar));
  background-color: black;
  border-bottom: solid 0.5vh var(--color-border);
  box-shadow: 0px 0px 7px 12px rgb(0, 0, 1);

  @media screen and (max-width: 553px) {
    justify-content: space-evenly;
  }

  h1 {
    padding-left: 2rem;
    margin: 0.2rem;
    transition: 0.5s;
    transform: scale(1.4);
    @media screen and (max-width: 553px) {
      transform: scale(1);
    }
    &:hover {
      transform: scale(1.5) translateY(0.1vw);
      transition: 0.8s;
      @media screen and (max-width: 553px) {
        transform: scale(1.2);
      }
    }
  }

  ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0rem 1rem 0rem 2rem;
    @media screen and (max-width: 475px) {
      justify-content: center;
    }

    li {
      transition: 0.5s;

      &:hover {
        transform: translateY(0.2vw);
        box-shadow: 0px 0px 60px 22px rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.75);
        transition: 0.2s;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        text-shadow: 4px 4px 3px rgb(0, 0, 0);
        font-size: medium;
        @media screen and (max-width: 475px) {
          justify-content: center;
          font-size: small;
        }
      }
    }
  }
}
