.card-emuladores {
  .img-card-emuladores {
    max-height: 15vh;
    border-radius: 18%;
  }
  // efecto hover card emulador,
  &:hover {
    ul {
      .contenedor-texto-emuladores {
        width: 95%;
        padding: 0.5vh;
        text-align: left;
        border: solid 3px var(--color-border);
        background-color: rgba(0, 0, 0, 0.3);
        p:first-of-type {
          height: 6vh; //altura de la card emuladores hover.
        }

        p {
          border: solid 1px var(--color-border);
          padding: 1vh;
          height: max-content;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
